* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );

    color: white;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 5, 23);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
 color: aqua;
 font-size: 20px;
} 

.purple{
color: rgb(238, 14, 238);

}

.left {
    font-size: 1.5rem;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    margin-top: 20px;
}

.leftsection {

    font-size: 3rem;
    
}

.rightsection img{
   width: 300px;
   margin: 50px 0;
}
.devimg{
    width: 300px;
}